<footer class="text-center mt-5">
  <div class="f-info-socials mb-2">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i> 
    <i class="fa-brands fa-linkedin"></i>   
</div>

  <div>LUXORA-BNB Private Limited</div>

  <div class="f-info-links mt-2">
    <a href="/privacy" class="mx-2">Privacy</a>
    <a href="/terms" class="mx-2">Terms</a>
  </div>
</footer>
